name: main workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [int, stg, prod]
        images:
          - image: a-image
            app: a-app
            app-path: a-path
          - image: b-image
            app: b-app
            app-path: b-path
          - image: c-image
            app: c-app
            app-path: c-path

    steps:
      - run: |
          echo "Building image ${{ matrix.images.image }} for app ${{ matrix.images.app }} in path ${{ matrix.images.app-path }}"

  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [int, stg, prod]
        images:
          - image: a-image
            app: a-app
            app-path: a-path
          - image: b-image
            app: b-app
            app-path: b-path
          - image: c-image
            app: c-app
            app-path: c-path

    steps:
      - run: |
          echo "Deploying image ${{ matrix.images.image }} for app ${{ matrix.images.app }} into env ${{ matrix.environment }}"
