name: pr closed workflow

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  dump-context:

    runs-on: ubuntu-latest

    steps:
      - name: Dump context
        uses: crazy-max/ghaction-dump-context@v1